<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link type="text/css" href="../../Content/main.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>